services:

  rabbit_mq_service:
    image: rabbitmq:4.0-management
    hostname: rabbitmq
    ports:
      - 5672:5672
      - 15672:15672
    healthcheck:
      test: rabbitmq-diagnostics check_port_connectivity
      start_period: 5s
      timeout: 5s
      interval: 10s
      retries: 10
    networks:
      - eazybytes_network

  config_server_service:
    image: lokeshjavatech/config-server:v1
    container_name: config-server-container
    ports:
      - 8071:8071
    depends_on:
      rabbit_mq_service:
        condition: service_healthy
    deploy:
      resources:
        limits:
          memory: 700m
    healthcheck:
      test: "curl --fail --silent localhost:8071/actuator/health/readiness | grep UP || exit 1"
      start_period: 10s
      timeout: 5s
      interval: 10s
      retries: 10
    networks:
      - eazybytes_network

  accounts_service:
    image: lokeshjavatech/accounts:v1
    container_name: accounts-container
    ports:
      - 8080:8080
    depends_on:
      config_server_service:
        condition: service_healthy
    deploy:
      resources:
        limits:
          memory: 700m
    environment:
      SPRING_APPLICATION_NAME: "accounts"
      SPRING_PROFILES_ACTIVE: "qa"
      SPRING_CONFIG_IMPORT: "configserver:http://config-server-container:8071/"
    networks:
      - eazybytes_network

  loans_service:
    image: lokeshjavatech/loans:v1
    container_name: loans-container
    ports:
      - 8090:8090
    depends_on:
      config_server_service:
        condition: service_healthy
    deploy:
      resources:
        limits:
          memory: 700m
    environment:
      SPRING_APPLICATION_NAME: "loans"
      SPRING_PROFILES_ACTIVE: "qa"
      SPRING_CONFIG_IMPORT: "configserver:http://config-server-container:8071/"
    networks:
      - eazybytes_network

  cards_service:
    image: lokeshjavatech/cards:v1
    container_name: cards-container
    ports:
      - 9000:9000
    depends_on:
      config_server_service:
        condition: service_healthy
    deploy:
      resources:
        limits:
          memory: 700m
    environment:
      SPRING_APPLICATION_NAME: "cards"
      SPRING_PROFILES_ACTIVE: "qa"
      SPRING_CONFIG_IMPORT: "configserver:http://config-server-container:8071/"
    networks:
      - eazybytes_network

networks:
  eazybytes_network:
    driver: bridge
