services:

  config_server_service:
    image: lokeshjavatech/config-server:v1
    container_name: config-server-container
    ports:
      - 8071:8071
    healthcheck:
      test: "curl --fail --silent localhost:8071/actuator/health/readiness | grep UP || exit 1"
      start_period: 10s
      timeout: 5s
      interval: 10s
      retries: 10
    deploy:
      resources:
        limits:
          memory: 700m
    networks:
      - eazybytes_network


  eureka_server_service:
    image: lokeshjavatech/eureka-server:v1
    container_name: eureka-server-container
    ports:
      - 8070:8070
    depends_on:
      config_server_service:
        condition: service_healthy
    healthcheck:
      test: "curl --fail --silent localhost:8070/actuator/health/readiness | grep UP || exit 1"
      start_period: 10s
      timeout: 5s
      interval: 10s
      retries: 10
    environment:
      SPRING_APPLICATION_NAME: "eureka-server"
      SPRING_PROFILES_ACTIVE: "default"
      SPRING_CONFIG_IMPORT: "configserver:http://config-server-container:8071/"
    deploy:
      resources:
        limits:
          memory: 700m
    networks:
      - eazybytes_network


  accounts_service:
    image: lokeshjavatech/accounts:v1
    container_name: accounts-container
    ports:
      - 8080:8080
    depends_on:
      config_server_service:
        condition: service_healthy
      eureka_server_service:
        condition: service_healthy
    environment:
      SPRING_APPLICATION_NAME: "accounts"
      SPRING_PROFILES_ACTIVE: "qa"
      SPRING_CONFIG_IMPORT: "configserver:http://config-server-container:8071/"
      EUREKA_CLIENT_SERVICEURL_DEFAULTZONE: "http://eureka-server-container:8070/eureka/"
    deploy:
      resources:
        limits:
          memory: 700m
    networks:
      - eazybytes_network


  loans_service:
    image: lokeshjavatech/loans:v1
    container_name: loans-container
    ports:
      - 8090:8090
    depends_on:
      config_server_service:
        condition: service_healthy
      eureka_server_service:
        condition: service_healthy
    environment:
      SPRING_APPLICATION_NAME: "loans"
      SPRING_PROFILES_ACTIVE: "qa"
      SPRING_CONFIG_IMPORT: "configserver:http://config-server-container:8071/"
      EUREKA_CLIENT_SERVICEURL_DEFAULTZONE: "http://eureka-server-container:8070/eureka/"
    deploy:
      resources:
        limits:
          memory: 700m
    networks:
      - eazybytes_network


  cards_service:
    image: lokeshjavatech/cards:v1
    container_name: cards-container
    ports:
      - 9000:9000
    depends_on:
      config_server_service:
        condition: service_healthy
      eureka_server_service:
        condition: service_healthy
    environment:
      SPRING_APPLICATION_NAME: "cards"
      SPRING_PROFILES_ACTIVE: "qa"
      SPRING_CONFIG_IMPORT: "configserver:http://config-server-container:8071/"
      EUREKA_CLIENT_SERVICEURL_DEFAULTZONE: "http://eureka-server-container:8070/eureka/"
    deploy:
      resources:
        limits:
          memory: 700m
    networks:
      - eazybytes_network

networks:
  eazybytes_network:
    driver: bridge
