server:
  port: 8071

spring:
  application:
    name: config-server
  profiles:
    #active: native
    active: git
  cloud:
    config:
      server:
        #native:
        #  searchLocations: "classpath:/configs"
        git:
          uri: "https://github.com/LokeshJavaTech/config-server-git-repo.git"
          default-label: master
          timeout: 5
          clone-on-start: true
          force-pull: true

management:
  endpoints:
    web:
      exposure:
        include: "*"
  endpoint:
    health:
      probes:
        enabled: true
  health:
    readiness-state:
      enabled: true
    liveness-state:
      enabled: true

encrypt:
  key: "LOKESH_MITTAL_COMPLEX_KEY_FOR_ENCRYPTION_DECRYPTION_OF_CONFIG_VALUES"
